<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="the blog of Blackganglion">
    <meta name="author" content="BlackGanglion">
    <meta name="baidu-site-verification" content="N4RL5LRq2R" />
    <link rel="icon" href="favicon.ico">

    <title>BlackGanglion - 一只热爱志愿的程序猿</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/blog.min.css" rel="stylesheet">
    <link href="/stylesheets/github.min.css" rel="stylesheet">
    <script src="/javascripts/ie-emulation-modes-warning.js"></script>
  </head>
