<%- include header.html %>

<body>
  <div class="blog-header">
    <div class="container">
      <div class="row">
        <img src="/images/fly.jpg" class="img-circle portrait">
        <h1 class="blog-title">爱but的苍蝇</h1>
        <p class="lead blog-description hidden-xs">在寻找大神的路上让自己成为大神~~</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <ul class="nav nav-pills blog-nav">
        <li role="presentation" class="active"><a href="/">首页</a></li>
        <li role="presentation"><a href="/file">归档</a></li>
        <li role="presentation" class="hidden-xs"><a href="/mylife">生活</a></li>
        <li role="presentation" class="hidden-xs"><a href="http://page.blackganglion.com/" target="_blank">关于</a></li>
        <li role="presentation"><a href="http://page.blackganglion.com/resume/" target="_blank">简历</a></li>

        <form class="form-inline pull-right blog-search hidden-xs" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="cname" placeholder="Search...">
          </div>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </form>
     </ul>

     <div class="col-sm-8 blog-main">

       <% posts.forEach(function (post, index) { %>
       <div class="blog-post">
         <h2 class="blog-post-title"><%= post.title %></h2>
         <p class="blog-post-meta">
           <%= post.time.minute %> by <a href="#"><%= post.name %></a>
           <% if(post.type == 'unclassified'){ %>
             <span class="label label-info label-mark"><%= post.type %></span>
           <% } %>
           <% if(post.type == 'webDevelop'){ %>
             <span class="label label-danger label-mark"><%= post.type %></span>
           <% } %>
           <% if(post.type == 'dataVisualization'){ %>
             <span class="label label-primary label-mark"><%= post.type %></span>
           <% } %>
           <% if(post.type == 'life'){ %>
             <span class="label label-success label-mark"><%= post.type %></span>
           <% } %>
           <% if(post.type == 'technology'){ %>
             <span class="label label-warning label-mark"><%= post.type %></span>
           <% } %>
         </p>
         <div class="post-index"><%- post.post %></div>
         <ul class="pager pull-right blog-more">
           <li>
             <a href="/blog/<%= post.postId %>">Read More</a>
           </li>
         </ul>
       </div>
       <% }) %>

       <nav>
         <ul class="pager">
           <% if(!isFirstPage){ %>
           <li>
             <a href="?p=<%= page - 1 %>">
               <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
               Previous
             </a>
           </li>
           <% } %>
           <% if(!isLastPage){ %>
           <li>
             <a href="?p=<%= page + 1 %>">
               Next
               <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
             </a>
           </li>
           <% } %>
         </ul>
       </nav>

     </div>

     <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
       <div class="sidebar-module sidebar-module-inset">
         <h4>
           <img src="/images/fly1.jpg" class="img-circle small-logo" /> 我的博文分类
         </h4>
         <ol class="list-unstyled" id="classify">
           <li><a href="unclassified">未分类 (<%- everyTypeCount.unclassified %>)</a></li>
           <li><a href="webDevelop">Web开发 (<%- everyTypeCount.webDevelop %>) </a></li>
           <li><a href="dataVisualization">数据可视化 (<%- everyTypeCount.dataVisualization %>) </a></li>
           <li><a href="technology">技术随笔 (<%- everyTypeCount.technology %>) </a></li>
           <li><a href="life">生活杂记 (<%- everyTypeCount.life %>) </a></li>
         </ol>
       </div>

       <div class="sidebar-module sidebar-module-inset">
         <h4>
           <img src="/images/fly3.jpg" class="img-circle small-logo" /> 我的友情链接
         </h4>
         <ol class="list-unstyled">
           <li><a href="#"></a></li>
           <li><a href="#"></a></li>
           <li><a href="#"></a></li>
           <br>
           <li>小伙伴可以通过下方邮箱跟我交换友链哦，当然欢迎大牛莅临指导！</li>
         </ol>
       </div>
     </div>
   </div>
 </div>

 <footer class="blog-footer">
   <div class="container">
     <div class="row">
       <div class="col-md-4">
         <h4>About Me</h4>
         <p>HuJie</p>
         <p>Hangzhou Dianzi University</p>
         <p>CS student</p>
         <p>BlackGanglion@blackganglion.com</p>
       </div>

       <div class="col-md-4">
         <h4>Elsewhere</h4>
         <p><a href="http://weibo.com/BlackGanglion" target="_blank">Weibo</a></p>
         <p><a href="#">Blog</a></p>
         <p><a href="https://github.com/BlackGanglion" target="_blank">Github</a></p>
         <p><a href="http://www.zhihu.com/people/BlackGanglion" target="_blank">Zhihu</a></p>
       </div>

       <div class="col-md-4">
         <p>Where there is a will, there is a way.</p>
         <p>© 2015 BlackGanglion All rights reserved</p>
         <p>Based on Node.js</p>
       </div>
     </div>
   </div>
 </footer>

<%- include footer.html %>
