body {
    line-height: 1.65;
}
body, button, input, select, textarea {
    color: #333337;
    font-family: "Droid Serif", serif;
}
.favorites, .post-favorite, .post-preview, .sidebar {
    text-rendering: optimizelegibility;
}
p {
    font-size: 1.8rem;
    margin-bottom: 15px;
}
a {
    border-bottom: 1px solid #fafafa;
}
a:active, a:hover {
    transition: all 400ms ease 0s;
}
h1, h2 {
    font-weight: 700;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.2rem;
}
h2.favorites {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    color: #b3b3b7;
    font-size: 1.2rem;
    letter-spacing: 2pt;
    padding: 10px 0;
    text-transform: uppercase;
}
h3 {
    font-size: 2.6rem;
}
b {
    font-weight: 700;
}
i {
    font-style: italic;
}
ol, ul {
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding-left: 20px;
}
ol li, ul li {
    margin: 5px 0;
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated.hinge {
    animation-duration: 1s;
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInUp {
    animation-name: fadeInUp;
}
@keyframes fadeInDown {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInDown {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInDown {
    animation-name: fadeInDown;
}
@keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translateX(-20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
@keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translateX(-20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
@keyframes fadeInRight {
0% {
    opacity: 0;
    transform: translateX(20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
@keyframes fadeInRight {
0% {
    opacity: 0;
    transform: translateX(20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInRight {
    animation-name: fadeInRight;
}
@keyframes fadeInDownBig {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInDownBig {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInDownBig {
    animation-name: fadeInDownBig;
}
@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.fadeOut {
    animation-name: fadeOut;
}
@keyframes fadeOutUp {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(-20px);
}
}
@keyframes fadeOutUp {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(-20px);
}
}
.fadeOutUp {
    animation-name: fadeOutUp;
}
@keyframes fadeOutDown {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(20px);
}
}
@keyframes fadeOutDown {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(20px);
}
}
.fadeOutDown {
    animation-name: fadeOutDown;
}
@keyframes fadeOutLeft {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(-20px);
}
}
@keyframes fadeOutLeft {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(-20px);
}
}
.fadeOutLeft {
    animation-name: fadeOutLeft;
}
@keyframes fadeOutRight {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(20px);
}
}
@keyframes fadeOutRight {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(20px);
}
}
.fadeOutRight {
    animation-name: fadeOutRight;
}


.btn-primary, .label-primary, .progress-bar-primary {
    background: #4761e2 none repeat scroll 0 0;
    border-color: #314edf;
}
.btn-primary:hover, .label-primary:hover, .progress-bar-primary:hover {
    background: #2140d5 none repeat scroll 0 0;
    border-color: #213ed0;
}
.btn-primary {
    background: #4761e2 none repeat scroll 0 0;
    color: #fff;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}
.btn-primary:hover {
    background-color: #2f49ca;
    color: #fff;
}
.btn-primary:active {
    background-color: #2b43bd;
}
.btn-success, .label-success, .progress-bar-success {
    background: #1abc9c none repeat scroll 0 0;
    border-color: #17a689;
}
.btn-success:hover, .label-success:hover, .progress-bar-success:hover {
    background: #148f77 none repeat scroll 0 0;
    border-color: #138b73;
}
.btn-warning, .label-warning, .progress-bar-warning {
    background: #f39c12 none repeat scroll 0 0;
    border-color: #e08e0b;
}
.btn-warning:hover, .label-warning:hover, .progress-bar-warning:hover {
    background: #c87f0a none repeat scroll 0 0;
    border-color: #c37b0a;
}
.btn-danger, .label-danger, .progress-bar-danger {
    background: #e24747 none repeat scroll 0 0;
    border-color: #e03a3a;
}
.btn-danger:hover, .label-danger:hover, .progress-bar-danger:hover {
    background: #dd2828 none repeat scroll 0 0;
    border-color: #dc2424;
}
.btn-info, .label-info, .progress-bar-info {
    background: #9b59b6 none repeat scroll 0 0;
    border-color: #8f4bab;
}
.btn-info:hover, .label-info:hover, .progress-bar-info:hover {
    background: #804399 none repeat scroll 0 0;
    border-color: #7d4295;
}
.btn-default {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 15px;
    text-shadow: 0 0 0;
}


.sidebar {
    background-image: url("../images/2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding: 15px;
    transition: all 450ms ease 0s;
    width: 100%;
}
@media (min-width: 768px) {
.sidebar {
    height: 450px;
  }
}
@media (min-width: 992px) {
  .sidebar {
    background-color: #f5f5f5;
    height: 100%;
    position: fixed;
    width: 26%;
  }
}
.sidebar .site-info {
    color: #fafafa;
    padding: 90px 15px 0;
}
@media (min-width: 768px) {
.sidebar .site-info {
    padding: 180px 100px 0;
}
}
@media (min-width: 992px) {
.sidebar .site-info {
    bottom: 40px;
    padding: 0 20px;
    position: absolute;
}
}
@media (min-width: 1200px) {
.sidebar .site-info {
    padding: 0 30px;
}
}
.sidebar .site-info h1 {
    letter-spacing: -2pt;
    margin-bottom: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
.sidebar .site-info h1 {
    font-size: 3.4rem;
    letter-spacing: 0;
    margin-bottom: 10px;
}
}
.sidebar .site-info p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.sidebar .site-info i {
    font-style: normal;
    margin-right: 10px;
}
.sidebar .site-info .primary-info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebar .site-info .primary-info a {
    color: #e0e0e0;
}
.sidebar .site-info .primary-info a:active, .sidebar .site-info .primary-info a:hover {
    color: #fafafa;
}
.sidebar .site-info .secondary-info p {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    margin: 20px 0 0;
}


.main-content {
    padding: 30px;
    margin-top: 20px;
}
@media (min-width: 992px) {
  .main-content {
    padding: 60px;
    margin: 36px 20px 66px 66px;
  }
}
hr {
    border: 1px solid #eee;
    display: block;
    margin: 20px auto;
    width: 100%;
}
body, html {
    font-size: 62.5%;
}
@media (min-width: 992px) {
    body, html {
      height: 100%;
    }
}
.hide {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}
img {
    max-width: 100%;
}
main {
    display: block;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a:active, a:focus, a:hover {
    border-bottom: 1px solid #999;
    color: #23527c;
    text-decoration: none;
}
code{
    line-height: 1.5;
    font-size: 15px;
}
