body {
    line-height: 1.65;
}
body, button, input, select, textarea {
    color: #333337;
    font-family: "Droid Serif",serif;
}
.favorites, .post-favorite, .post-preview, .sidebar {
    text-rendering: optimizelegibility;
}
p {
    font-size: 1.8rem;
    margin-bottom: 15px;
}
a {
    border-bottom: 1px solid #fafafa;
}
a:active, a:hover {
    transition: all 400ms ease 0s;
}
h1, h2 {
    font-weight: 700;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.2rem;
}
h2.favorites {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    color: #b3b3b7;
    font-size: 1.2rem;
    letter-spacing: 2pt;
    padding: 10px 0;
    text-transform: uppercase;
}
h3 {
    font-size: 2.6rem;
}
b {
    font-weight: 700;
}
i {
    font-style: italic;
}
ol, ul {
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding-left: 20px;
}
ol li, ul li {
    margin: 5px 0;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated.hinge {
    animation-duration: 1s;
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInUp {
    animation-name: fadeInUp;
}
@keyframes fadeInDown {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInDown {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInDown {
    animation-name: fadeInDown;
}
@keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translateX(-20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
@keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translateX(-20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
@keyframes fadeInRight {
0% {
    opacity: 0;
    transform: translateX(20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
@keyframes fadeInRight {
0% {
    opacity: 0;
    transform: translateX(20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInRight {
    animation-name: fadeInRight;
}
@keyframes fadeInDownBig {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInDownBig {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInDownBig {
    animation-name: fadeInDownBig;
}
@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.fadeOut {
    animation-name: fadeOut;
}
@keyframes fadeOutUp {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(-20px);
}
}
@keyframes fadeOutUp {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(-20px);
}
}
.fadeOutUp {
    animation-name: fadeOutUp;
}
@keyframes fadeOutDown {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(20px);
}
}
@keyframes fadeOutDown {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(20px);
}
}
.fadeOutDown {
    animation-name: fadeOutDown;
}
@keyframes fadeOutLeft {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(-20px);
}
}
@keyframes fadeOutLeft {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(-20px);
}
}
.fadeOutLeft {
    animation-name: fadeOutLeft;
}
@keyframes fadeOutRight {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(20px);
}
}
@keyframes fadeOutRight {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(20px);
}
}
.fadeOutRight {
    animation-name: fadeOutRight;
}
.btn-primary, .label-primary, .progress-bar-primary {
    background: #4761e2 none repeat scroll 0 0;
    border-color: #314edf;
}
.btn-primary:hover, .label-primary:hover, .progress-bar-primary:hover {
    background: #2140d5 none repeat scroll 0 0;
    border-color: #213ed0;
}
.btn-primary {
    background: #4761e2 none repeat scroll 0 0;
    color: #fff;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}
.btn-primary:hover {
    background-color: #2f49ca;
    color: #fff;
}
.btn-primary:active {
    background-color: #2b43bd;
}
.btn-success, .label-success, .progress-bar-success {
    background: #1abc9c none repeat scroll 0 0;
    border-color: #17a689;
}
.btn-success:hover, .label-success:hover, .progress-bar-success:hover {
    background: #148f77 none repeat scroll 0 0;
    border-color: #138b73;
}
.btn-warning, .label-warning, .progress-bar-warning {
    background: #f39c12 none repeat scroll 0 0;
    border-color: #e08e0b;
}
.btn-warning:hover, .label-warning:hover, .progress-bar-warning:hover {
    background: #c87f0a none repeat scroll 0 0;
    border-color: #c37b0a;
}
.btn-danger, .label-danger, .progress-bar-danger {
    background: #e24747 none repeat scroll 0 0;
    border-color: #e03a3a;
}
.btn-danger:hover, .label-danger:hover, .progress-bar-danger:hover {
    background: #dd2828 none repeat scroll 0 0;
    border-color: #dc2424;
}
.btn-info, .label-info, .progress-bar-info {
    background: #9b59b6 none repeat scroll 0 0;
    border-color: #8f4bab;
}
.btn-info:hover, .label-info:hover, .progress-bar-info:hover {
    background: #804399 none repeat scroll 0 0;
    border-color: #7d4295;
}
.alert-success {
    background: #dbfaf4 none repeat scroll 0 0;
    border-color: #aef4e6;
    color: #117964;
}
.alert-warning {
    background: #fef7ec none repeat scroll 0 0;
    border-color: #fce3bc;
    color: #b06f09;
}
.alert-danger {
    background: #fef7f7 none repeat scroll 0 0;
    border-color: #fae1e1;
    color: #be1e1e;
}
.alert-info {
    background: #f0e7f4 none repeat scroll 0 0;
    border-color: #e6d5ed;
    color: #713b87;
}
.alert, .panel, .progress {
    border-radius: 0;
}
.bs-example {
    margin-bottom: 20px;
}
.meta, .meta a {
    color: #b6b6b6;
}
@media (min-width: 992px) {
.meta {
    font-size: 1.6rem;
}
}
.meta a:active, .meta a:hover {
    border-bottom: 1px solid #b6b6b6;
    color: #333337;
    text-decoration: none;
}
.meta i {
    font-style: normal;
}
.btn-default {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 15px;
    text-shadow: 0 0 0;
}
.link-spacer {
    background-color: #b6b6b6;
    border-radius: 100%;
    display: inline-block;
    height: 2px;
    margin: 0 2px 4px;
    width: 2px;
}
.user-icon {
    border-radius: 50%;
    float: right;
    height: 50px;
    padding: 0;
    width: 50px;
}
#menu-target {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}
.jPanelMenu-panel {
    background-color: #fff !important;
    box-shadow: 2px 2px 10px #000;
    min-height: 100%;
    transition: all 450ms ease 0s;
}
#jPanelMenu-menu {
    background-color: #333337;
    overflow-x: hidden;
    overflow-y: hidden !important;
}
#jPanelMenu-menu ul {
    padding: 10px 0;
}
#jPanelMenu-menu li {
    list-style: outside none none;
    margin: 0;
    padding: 10px 0;
}
#jPanelMenu-menu li i {
    color: #dadada;
    font-size: 1.4rem;
    font-style: normal;
    padding: 0 20px;
}
#jPanelMenu-menu li a {
    border-bottom: 0 none transparent;
    color: #dadada;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}
#jPanelMenu-menu li a:hover {
    border-bottom: medium none;
    color: #fff;
}
#jPanelMenu-menu hr {
    margin: 20px auto;
    width: 40%;
}
.menu-trigger {
    background: #333 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 40px;
    left: 15px;
    padding-top: 8px;
    position: absolute;
    top: 15px;
    width: 40px;
    z-index: 1080;
}
.menu-trigger span {
    background: #fff none repeat scroll 0 0;
    display: block;
    float: left;
    height: 5px;
    margin: 0 6px 5px;
    width: 28px;
}
.sidebar {
    background-image: url("../img/default-sidebar.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding: 15px;
    transition: all 450ms ease 0s;
    width: 100%;
}
@media (min-width: 768px) {
.sidebar {
    height: 450px;
  }
}
@media (min-width: 992px) {
  .sidebar {
    background-color: #f5f5f5;
    height: 100%;
    position: fixed;
    width: 26%;
  }
}
.sidebar .site-info {
    color: #fafafa;
    padding: 90px 15px 0;
}
@media (min-width: 768px) {
.sidebar .site-info {
    padding: 180px 100px 0;
}
}
@media (min-width: 992px) {
.sidebar .site-info {
    bottom: 40px;
    padding: 0 20px;
    position: absolute;
}
}
@media (min-width: 1200px) {
.sidebar .site-info {
    padding: 0 30px;
}
}
.sidebar .site-info h1 {
    letter-spacing: -2pt;
    margin-bottom: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
.sidebar .site-info h1 {
    font-size: 3.4rem;
    letter-spacing: 0;
    margin-bottom: 10px;
}
}
.sidebar .site-info p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.sidebar .site-info i {
    font-style: normal;
    margin-right: 10px;
}
.sidebar .site-info .primary-info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebar .site-info .primary-info a {
    color: #e0e0e0;
}
.sidebar .site-info .primary-info a:active, .sidebar .site-info .primary-info a:hover {
    color: #fafafa;
}
.sidebar .site-info .secondary-info p {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    margin: 20px 0 0;
}
.main-content {
    padding: 30px;
}
@media (min-width: 992px) {
  .main-content {
    padding: 60px;
    margin: 36px 20px 66px 66px;
  }
}

.sub-nav {
    border-bottom: 1px solid #f5f5f5;
    line-height: 30px;
}
.sub-nav a {
    color: #b6b6b6;
    display: inline-block;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2pt;
    line-height: 30px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.sub-nav a.active, .sub-nav a:active, .sub-nav a:hover {
    border-bottom: 2px solid #000;
    color: #333337;
}
.post {
    border-bottom: 1px solid #f5f5f5;
    padding: 30px 0;
}
.post::after, .post::before {
    content: " ";
    display: table;
}
.post::after {
    clear: both;
}
.post .post-preview h2 {
    font-size: 2.4rem;
    margin-top: 0;
}
@media (min-width: 992px) {
.post .post-preview h2 {
    font-size: 3.2rem;
}
}
.post .post-preview h2 a {
    border: medium none;
    color: #333337;
    text-decoration: none;
}
.post .post-preview h2 a:hover {
    color: #b6b6b6;
}
.post .post-preview p {
    font-family: "Droid Serif",serif;
    font-size: 1.6rem;
}
@media (min-width: 992px) {
.post .post-preview p {
    font-size: 1.8rem;
}
}
.post.author-page .post-preview p {
    margin: 0;
}
.category {
    margin-bottom: 15px;
    margin-top: 15px;
}
.category-preview {
    margin: 15px 0;
}
.category-preview h2 {
    bottom: 0;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    position: absolute;
}
.split-footer {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 0;
    text-transform: uppercase;
}
.split-footer a {
    border-bottom: medium none;
    color: #999;
}
.split-footer a:active, .split-footer a:hover {
    border-bottom: medium none;
    color: #333;
}
.hero-image {
    background-image: url("../img/default-single-hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
}
@media (min-width: 768px) {
.hero-image {
    height: 300px;
}
}
@media (min-width: 992px) {
.hero-image {
    height: 390px;
}
}
@media (min-width: 1200px) {
.hero-image {
    height: 460px;
}
}
.meta {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.meta::after, .meta::before {
    content: " ";
    display: table;
}
.meta::after {
    clear: both;
}
@media (min-width: 768px) {
.meta {
    font-size: 1.6rem;
}
}
.meta .time {
    float: right;
    font-size: 2.3rem;
}
.meta .min {
    float: right;
    font-size: 1.3rem;
}
hr {
    border: 1px solid #eee;
    display: block;
    margin: 20px auto;
    width: 100%;
}
blockquote {
    font-size: 2.4rem;
    padding: 0 20px;
}
.pullquote {
    font-size: 3.8rem;
    line-height: 4.8rem;
    margin: 50px -5%;
    text-align: center;
}
.single-content, .single-content-sidebar {
    padding: 30px 8%;
}
@media (min-width: 992px) {
.single-content, .single-content-sidebar {
    padding: 30px 14% 70px;
}
}
@media (min-width: 1200px) {
.single-content, .single-content-sidebar {
    padding: 30px 18% 170px;
}
}
.single-content h1, .single-content-sidebar h1 {
    letter-spacing: -1pt;
}
@media (min-width: 768px) {
.single-content h1, .single-content-sidebar h1 {
    font-size: 4.4rem;
}
}
.single-content h2, .single-content-sidebar h2 {
    font-size: 2.8rem;
}
.single-content-sidebar {
    padding: 30px 8%;
}
@media (min-width: 992px) {
.single-content-sidebar {
    padding: 30px 0 70px;
}
}
@media (min-width: 1200px) {
.single-content-sidebar {
    padding: 30px 0 170px;
}
}
.single-content-sidebar-area {
    padding: 30px 15px;
}
@media (min-width: 992px) {
.single-content-sidebar-area {
    padding: 70px 0 0 25px;
}
}
.single-content-sidebar-area .meta {
    width: 80%;
}
.single-content-sidebar-area .meta::after, .single-content-sidebar-area .meta::before {
    content: " ";
    display: table;
}
.single-content-sidebar-area .meta::after {
    clear: both;
}
@media (min-width: 992px) {
.single-content-sidebar-area .meta {
    margin-bottom: 200px;
}
}
.single-content-sidebar-area .user-img {
    width: 20%;
}
.single-content-sidebar-area hr {
    margin: 15px auto;
    width: 100%;
}
.single-content-sidebar-area .similar-post a, .single-content-sidebar-area .similar-post h3 {
    color: #333;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.single-content-sidebar-area .similar-cat {
    margin-bottom: 10px;
    position: relative;
}
.single-content-sidebar-area .similar-cat img {
    width: 100%;
}
.single-content-sidebar-area .similar-cat h3 {
    bottom: 15px;
    color: #fff;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    position: absolute;
    right: 15px;
}
footer.single {
    background-color: #f5f5f5;
    border-top: 1px solid #e9e9e9;
    padding: 40px 0 0;
    text-align: center;
}
footer.single.without-readmore {
    padding: 40px 0;
}
@media (min-width: 768px) {
footer.single {
    text-align: left;
}
}
footer.single .social {
    text-align: center;
}
footer.single .social-icon {
    color: #ccc;
    display: inline-block;
    font-size: 2.4rem;
    margin: 20px 10px;
}
footer.single .social-icon i {
    font-style: normal;
}
footer.single .social-icon:hover {
    border: medium none;
}
footer.single .category-list {
    padding: 30px 0;
}
@media (min-width: 768px) {
footer.single .category-list {
    border-right: 4px solid #e9e9e9;
    padding: 0;
  }
}
footer.single img {
    height: 60px;
    width: 60px;
}
footer.single .user-icon {
    float: none;
}
@media (min-width: 768px) {
footer.single .user-icon {
    float: right;
}
}
footer.single h3, footer.single p {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}
footer.single h3 span, footer.single p span {
    border-bottom: 1px solid #222;
}
footer.single h3 {
    display: inline;
}
footer.single .other-catergories {
    margin-top: 15px;
}
footer.single ul {
    display: inline;
    padding: 0;
}
footer.single ul li {
    display: inline;
    font-style: italic;
    list-style: outside none none;
}
footer.single-page {
    padding: 40px 0;
    text-align: center;
}
.read-another-section {
    margin-top: 40px;
}
footer .read-another-container {
    position: relative;
    text-align: center;
}
footer .read-another-container img {
    height: auto;
    width: auto;
    z-index: 1;
}
footer .read-another-container .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.read-another {
    color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.post-favorite {
    padding-right: 15px;
}
@media (min-width: 992px) {
.post-favorite h2 {
    font-size: 2.6rem;
}
}
.post-favorite h2 a {
    border-bottom: medium none;
    color: #333337;
    text-decoration: none;
}
@media (min-width: 992px) {
.post-favorite p {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
}
.category-sidebar .site-info {
    padding-top: 160px;
}
@media (min-width: 768px) {
.category-sidebar .site-info {
    padding-top: 260px;
}
}
form::after, form::before {
    content: " ";
    display: table;
}
form::after {
    clear: both;
}
form label {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 2rem;
    margin: 15px 0 0;
}
form input.form-control, form textarea.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: transparent transparent -moz-use-text-color;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 3px;
    box-shadow: none;
    padding: 5px 0;
    resize: vertical;
}
form input.form-control:-moz-placeholder, form textarea.form-control:-moz-placeholder {
    color: #ccc;
}
form input.form-control::-moz-placeholder, form textarea.form-control::-moz-placeholder {
    color: #ccc;
}
form input.form-control:focus, form textarea.form-control:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 3px;
    box-shadow: none;
    outline: 0 none;
}
form textarea.form-control {
    height: 100px;
}
form input[type="submit"] {
    border: 2px solid #ccc;
    border-radius: 0;
    float: right;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin: 30px 0;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
form input[type="submit"]:hover {
    background-color: #fafafa;
    border: 2px solid #222;
}
.author-bio::after, .author-bio::before {
    content: " ";
    display: table;
}
.author-bio::after {
    clear: both;
}
.author-bio img {
    border-radius: 50%;
    float: left;
    width: 150px;
}
@media (min-width: 992px) {
.author-bio img {
    float: right;
    width: 220px;
}
}
.author-bio .author-bio__info {
    float: left;
}
.author-bio .author-bio__info h1 {
    margin: 30px 0 20px;
}
.view-all-by-author {
    margin: 20px 0;
    text-align: right;
}
.view-all-by-author a {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}
.view-all-by-author i {
    font-size: 0.9rem;
    margin-left: 5px;
    transform: translateY(-1px);
}
.alt-home .sidebar {
    background: #f9f9f9 none repeat scroll 0 0;
    border-right: 2px solid #d8d8d8;
    height: auto;
    padding: 15px 15px 5px 50px;
}
@media (min-width: 992px) {
.alt-home .sidebar {
    height: 100%;
    overflow-y: scroll;
}
}
.alt-home .sidebar .sub-nav {
    border-color: #d8d8d8;
    margin: 70px 30px 20px 0;
}
.alt-home .sidebar .sub-nav a {
    margin-right: 0;
}
.alt-home .sub-nav {
    text-align: right;
}
@media (min-width: 992px) {
.alt-home .sub-nav {
    margin: 70px 0 0;
}
}
.alt-home .alt-main {
    padding: 15px;
}
.alt-home .post {
    padding: 10px 0;
}
.alt-home .post .post-preview h2 {
    line-height: 1;
}
.alt-home .post .post-preview h2 a {
    font-size: 2.2rem;
}
.alt-home .post .post-preview a {
    font-size: 1.6rem;
}
.hero-image-404 {
    background-image: url("../img/default-404.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.title-404 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 0;
    margin-top: 250px;
    text-align: center;
    text-transform: uppercase;
}
.p-404 {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}
.no-js-menu ul {
    margin-bottom: 0;
    padding: 10px 0;
}
.no-js-menu li {
    list-style: outside none none;
    margin: 0;
    padding: 3px 0;
}
@media (min-width: 768px) {
.no-js-menu li {
    padding: 5px 0;
}
}
@media (min-width: 992px) {
.no-js-menu li {
    padding: 10px 0;
}
}
.no-js-menu li i {
    color: #dadada;
    font-size: 1.4rem;
    font-style: normal;
    padding: 0 20px;
}
.no-js-menu li a {
    border-bottom: 0 none transparent;
    color: #dadada;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}
.no-js-menu li a:hover {
    border-bottom: medium none;
    color: #fff;
}
.hero-image .no-js-menu {
    padding-left: 50px;
}
.no-js .sidebar {
    height: 400px;
}
@media (min-width: 768px) {
.no-js .sidebar {
    height: 450px;
}
}
@media (min-width: 992px) {
.no-js .sidebar {
    background-color: #f5f5f5;
    height: 100%;
    position: fixed;
    width: 400px;
}
}
@media (min-width: 1200px) {
.no-js .sidebar {
    width: 464px;
}
}
.no-js .site-info {
    padding: 0 15px;
}
@media (min-width: 768px) {
.no-js .site-info {
    padding: 0 100px;
}
}
@media (min-width: 992px) {
.no-js .site-info {
    bottom: 40px;
    padding: 0 20px;
    position: absolute;
}
}
@media (min-width: 1200px) {
.no-js .site-info {
    padding: 0 30px;
}
}
.no-js-dashboard {
    margin-top: 60px;
}
.left-container {
    margin-left: 15px;
    padding-left: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
.left-container {
    max-width: 100%;
    width: 100%;
}
}
.no-gutter {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-left {
    padding-left: 0;
}
.no-gutter-right {
    padding-right: 0;
}
body, html {
    font-size: 62.5%;
}
@media (min-width: 992px) {
body, html {
    height: 100%;
}
}
.hide {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}
img {
    max-width: 100%;
}
main {
    display: block;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a:active, a:focus, a:hover {
    border-bottom: 1px solid #999;
    color: #23527c;
    text-decoration: none;
}
code{
  line-height: 1.5;
  font-size: 15px;
}
